section.password {
    background-image: url(/img/images/bel.png);
    background-position-x: 56%;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -50px;

    .block-desc {
        color: #000;
    }

    .content {
        display: flex;
        padding-top: 17px;

        &-left {
            width: 300px;
            margin-top: 55px;
        }

        &-right {
            margin-left: auto;
            margin-right: -73px;
            width: 700px / 1200px * 100%;
            padding: 44px 0 36px;
            max-width: 700px;
        }

        form {
            padding-top: 25px;
            padding-bottom: 18px;

            .fields-item {
                margin-bottom: 18px;
            }

            input {
                background: #F8F8F8 !important;
            }

            input,
            button {
                height: 50px;
                width: 100%;
            }
        }

        a[data-fancybox] {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            text-decoration-line: underline;
            color: #00982F;
        }
    }



}

@media screen and (max-width: 1440px) {

    section.password .content-right {
        margin-right: -30px;
    }

}

@media screen and (max-width: 1280px) {

    section.password .content-right {
        margin-right: 0;
    }

}

@media screen and (max-width: 1160px) {}

@media screen and (max-width: 768px) {

    section.password {
        margin-top: 0;
    }

    section.password .content {
        flex-wrap: wrap;
    }

    section.password .content-left {
        margin: 0 auto;
    }

    section.password .content-right {
        width: 100%;
        margin: 0 auto;
    }

}

@media screen and (max-width: 550px) {

    section.password {
        background-position-y: 90%;
    }
}