//навигация
.personal-nav {
    margin-bottom: 20px;

    .content {
        display: flex;
        align-items: center;
        background: #fff;
        padding: 23px 30px;
        height: 66px;

        a {
            display: block;
            position: relative;
            padding-left: 30px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            text-decoration: none;
            margin-right: 75px;

            &>span {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        a:nth-last-child(2) {
            margin-right: auto;
        }

        .send-contract {
            background: #00982f;
            border: 1px solid #00982f;
            box-sizing: border-box;
            padding: 9px 12px 9px 44px;
            margin-left: auto;
            margin-right: 33px !important;
            color: #fff;

            &__smallscreen-text {
                display: none;
            }

            span {
                left: 15px;
            }
        }

        a.exit {
            padding: 0;
            padding-right: 30px;
            color: #a9a9a9;
            margin-right: 0;

            &>span {
                position: absolute;
                left: auto;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

//профиль заказчика
.profile-customer {
    padding-bottom: 48px;

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .left {
        margin-right: auto;
    }

    .left,
    .right {
        width: 588px / 1200px * 100%;
    }

    &--info,
    &--password,
    &--docs {
        background: #fff;
        padding: 28px 32px 33px 30px;
    }

    &__block-head {
        display: flex;

        .title {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #a9a9a9;
            margin-right: auto;
        }

        .edit-btn {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #a9a9a9;
            padding-left: 25px;
            position: relative;
            display: flex;
            align-items: center;
            text-decoration: none;

            &>span {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__block-content {
        .title {
            margin: 40px 0 3px;
            width: 100%;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #a9a9a9;
        }
    }

    &--info {
        margin-bottom: 22px;

        form {
            margin-top: 23px;
            width: 100%;

            .fields-item {
                margin-bottom: 18px;
            }
        }

        .profile-customer__block-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .item {
            margin-top: 23px;
            width: calc(50% - 35px);

            &.fullwidth {
                width: 100%;
            }
        }

        .item-title {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: #a9a9a9;
            margin-bottom: 5px;
        }

        .item-value {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }
    }

    &--password {
        form {
            margin-top: 23px;
            width: 100%;

            .fields-item {
                margin-bottom: 18px;
            }
        }
    }

    &--docs {
        height: 100%;

        .profile-customer__block-content {
            margin-top: 23px;
            height: 100%;
        }

        .document-items {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            overflow-y: auto;
            max-height: 372px;

            &::-webkit-scrollbar {
                width: 5px;
                height: 31px;
                position: relative;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: #f8f8f8;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #d8d8d8;
            }

            .item {
                display: flex;
                align-items: center;
                border-top: 1px solid #d4d4d4;
                padding: 16px 25px 16px 0;
                text-decoration: none;
            }

            .item-extension {
                color: #00982f;
                text-transform: uppercase;
                font-weight: 600;
                margin-right: 15px;
            }

            .item-filename {
                color: #000000;

                &>span {
                    color: #a9a9a9;
                }
            }
        }

        .fields-item {
            margin-bottom: 18px;
        }

        .submit {
            display: none;
        }

    }
}

//заказы
.profile-orders {
    padding-bottom: 75px;

    .content {
        padding: 29px 28px 40px;
        background: #fff;
        display: flex;
        flex-wrap: wrap;
    }

    &__search {
        width: 381px;
        margin-right: auto;
    }

    &__status {
        width: 254px;
    }

    &__table {
        margin-top: 20px;
        width: 100%;
    }
}

//заказы - детальная
.order-detail {
    padding-bottom: 45px;

    .content {
        display: flex;
    }

    .left {
        width: 588px / 1200px * 100%;
        margin-right: auto;
        background: #fff;
        padding: 28px 30px;
        padding-bottom: 40px;
    }

    .right {
        width: 588px / 1200px * 100%;

        #order-map {
            min-height: 0;
            height: 100%;
        }
    }

    &__block-head {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #a9a9a9;
        padding-bottom: 20px;
    }

    .info-items {
        display: flex;
        flex-wrap: wrap;

        .item {
            margin: 20px 0;
            width: calc(50% - 40px);
        }

        .item:nth-child(odd) {
            margin-right: auto;
        }

        .item-title {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: #a9a9a9;
            margin-bottom: 5px;

            &.status {
                color: #00982f;
            }
        }

        .item-value {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }
    }

    &--docs {
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 0;
        height: auto;

        .attach-files {
            flex-direction: row;

            span.ic.files {
                margin-bottom: 0;
                margin-right: 10px;
            }

            label {
                margin-top: 0;
            }
        }

        .document-items {
            max-height: 165px;
            overflow-y: scroll;
        }
    }

    .uploadedImages {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;

        &-image {
            width: calc(100% / 5 - 16px);
            margin: 0 8px;
            margin-bottom: 16px;
            height: 75px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover a {
                opacity: 1;
                pointer-events: all;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                opacity: 0;
                background: rgba(0, 0, 0, 0.5);
                transition: all 0.5s ease;
            }

        }

    }
}

//профиль исполнителя
.profile-contractor {
    padding-bottom: 70px;

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .bottom {
        width: 100%;
        margin-top: 23px;
        display: flex;
        flex-wrap: wrap;
    }

    .left {
        margin-right: auto;

        .profile-contractor--status {
            display: none;
        }
    }

    .left,
    .right,
    .bottom>div {
        width: 588px / 1200px * 100%;
    }

    .profile-customer--docs {
        margin-top: 23px;
        height: auto;
    }

    .right {
        display: flex;
        flex-direction: column;
    }

    &--info {
        margin-bottom: 0;

        .car-info,
        .trailer-info {
            margin-top: 40px;

            &--items {
                display: flex;
                flex-wrap: wrap;

                .item {
                    width: calc(50% - 40px);
                }

                .item:nth-child(odd) {
                    margin-right: auto;
                }

                .item-value span {
                    margin: 0 15px;
                    color: #d8d8d8;
                }
            }
        }

        .car-photos {
            margin-top: 40px;

            .attach-images {
                padding: 10px;
                width: 75px;
                text-align: center;
                overflow: hidden;
                margin: 0;

                span.ic {
                    width: 20px;
                    height: 20px;
                }

                label {
                    font-size: 12px;
                    line-height: 14px;
                }
            }

            &__content {
                margin-top: 23px;
                display: flex;
            }

            &--items {
                display: flex;
                align-items: center;
                overflow-x: auto;
                max-width: 407px;
                margin-right: 8px;

                &::-webkit-scrollbar {
                    width: 31px;
                    height: 5px;
                    position: relative;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f8f8f8;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #d8d8d8;
                }

                .item {
                    margin-top: 0;
                    margin-right: 8px;
                    max-width: 75px;
                    flex-shrink: 0;
                }

                .item-image img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    &--status {
        background: #fff;
        padding: 28px 32px 33px 30px;
        margin-bottom: 23px;

        .title {
            position: relative;
            padding-left: 25px;
        }

        .title span {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        .title strong {
            color: #00982f;
        }
    }

    &--docs {
        flex-grow: 1;
    }
}

.profile-company {
    &--info {
        height: 100%;
    }

    .additem-btn {
        display: flex;
        text-decoration: none;

        p {
            margin-left: 12px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }
    }

    .bottom {
        justify-content: space-between;
    }

    &__drivers,
    &__autos,
    &__movers {
        background: #fff;
        padding: 28px 32px 33px 30px;

        &--list {
            max-height: 205px;
            overflow-y: auto;
            margin-top: 19px;
            padding-right: 20px;

            &::-webkit-scrollbar {
                width: 5px;
                height: 31px;
                position: relative;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: #f8f8f8;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #d8d8d8;
            }

            .item {
                display: flex;
                padding: 10px 3px 16px;
                align-items: center;
                border-top: 1px solid #d4d4d4;
            }

            .item:last-child {
                border-bottom: 1px solid #d4d4d4;
            }

            .item-icon {
                margin-right: 15px;
                position: relative;
            }

            .item-status {
                width: 8px;
                height: 8px;
                top: 1px;
                right: 2px;
                border-radius: 50%;
                position: absolute;

                &.green {
                    background: #00982f;
                }

                &.yellow {
                    background: #f6e646;
                }
            }

            .item-icon img {
                width: 39px;
                height: 39px;
                border-radius: 37px;
            }

            .item-name,
            .item-number {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                width: 160px / 500px * 100%;
                margin-right: auto;
                text-decoration: none;
            }

            span.phone {
                display: none;
            }

            .item-edit,
            .item-docs {
                margin-right: 22px;
            }

            .item-edit,
            .item-remove,
            .item-docs {
                span.ic {
                    display: block;
                }
            }
        }
    }
}

.company-orders {

    &__table {

        .table__head {


            .from,
            .to {
                width: 150px;
                text-align: center !important;

                .table__cell-content {
                    justify-content: center;
                }
            }

        }
    }

    .table .table__cell {

        .trailer {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: #A9A9A9;
        }

        &.auto,
        &.driver,
        &.mover {
            text-align: left !important;

            .table__cell-content {
                justify-content: flex-start !important;
            }


        }


    }

}

@media screen and (max-width: 1110px) {

    .company-orders {

        .table .table__cell {

            &.auto,
            &.driver,
            &.mover {
                text-align: center !important;

                .table__cell-content {
                    justify-content: center !important;
                }


            }


        }

    }

    .profile-orders__table .table__row.active .table__cell:first-child::after {
        display: none;
    }

    .profile-orders__table .table__cell {
        width: calc(100% / 3);
        text-align: center;
        padding: 15px !important;

        br {
            display: none;
        }
    }

    .profile-orders__table .table__cell::before {
        content: attr(data-title);
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #a9a9a9;
    }

    .profile-orders__table .table__cell.number {
        order: -2;
        width: 50%;
        text-align: left;
    }

    .profile-orders__table .table__cell.number::before {
        display: inline-block !important;
        color: #000;
    }

    .profile-orders__table .table__cell.status {
        order: -1;
        width: 50%;
        text-align: right;
    }
}

@media screen and (max-width: 1000px) {

    .order-detail .uploadedImages-image {
        width: calc(100% / 8 - 16px);
    }

    .profile-company {
        .left {
            order: 1;
        }

        .bottom {
            order: 2;
        }

        .right {
            order: 3;
        }
    }

    //профиль

    .profile-customer .left,
    .profile-customer .right,
    .profile-contractor .bottom>div {
        width: 100%;
    }

    .profile-contractor .bottom {
        margin-top: 0;
    }

    .profile-contractor .bottom>div {
        margin-top: 23px;
    }

    .profile-customer--password {
        margin-bottom: 22px;

        form {
            .fields {
                display: flex;
                justify-content: space-between;
            }

            .fields-item {
                width: calc(50% - 12.5px);
            }
        }
    }

    .order-detail .content {
        flex-wrap: wrap;
    }

    .order-detail .right {
        height: 400px;
        order: -1;
        margin-bottom: 20px;
    }

    .order-detail .right,
    .order-detail .left {
        width: 100%;
    }

    .profile-contractor {
        .content {
            flex-wrap: wrap;
        }

        .content>div {
            width: 100%;
            margin-right: 0;
        }

        .right &--status {
            display: none !important;
        }

        .left &--status {
            display: block !important;
        }

        &--password {
            margin-top: 23px;
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 830px) {

    .profile-orders__search,
    .profile-orders__status {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .order-detail .uploadedImages-image {
        width: calc(100% / 6 - 16px);
    }

    .personal-nav .content a {
        margin-right: 35px;
    }

    .personal-nav .content a.exit {
        p {
            display: none;
        }
    }
}

@media screen and (max-width: 640px) {

    .order-detail .uploadedImages-image {
        width: calc(100% / 5 - 16px);
    }

    .company-orders {

        .table .table__cell {

            &.auto,
            &.driver,
            &.mover {
                text-align: left !important;

                .table__cell-content {
                    justify-content: flex-start !important;
                }


            }


        }

    }


    .personal-nav .content .send-contract {
        margin: 0 auto !important;

        &__main-text {
            display: none;
        }

        &__smallscreen-text {
            display: block;
        }
    }

    //профиль

    .orders-table .table__cell.buttons {
        .table__cell-content>*:first-child {
            margin-right: auto;
        }

        a.done,
        a.abort,
        a.add-photos,
        a.in-road,
        a.rate,
        a.about-order {
            width: auto;
            border-radius: 0;
            margin: 0;
            width: calc(50% - 5px);
            height: 40px;
            overflow: hidden;

            span.ic {
                display: none;
            }

            p {
                display: block;
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                text-align: center;
                color: #ffffff;
                padding: 10px 5px;
            }
        }

        a.add-photos,
        a.rate,
        a.about-order {
            border: 2px solid #a9a9a9;

            p {
                color: #a9a9a9;
            }
        }

        a.abort p {
            color: #a9a9a9;
        }

        a.in-road p {
            color: #000000;
        }
    }

    .profile-customer--password {
        form {
            .fields {
                flex-direction: column;
            }

            .fields-item {
                width: 100%;
            }
        }
    }

    .profile-orders__table .table__row {
        margin-bottom: 15px;
        border: 1px solid #d4d4d4;
        padding: 5px 0;
        background: #fff !important;
    }

    .profile-orders__table .table__cell {
        width: 100%;
        text-align: left;
        padding: 10px 15px !important;
    }

    .profile-orders__table .table__cell.buttons {
        display: flex;
    }

    .profile-orders__table .table__cell-content {
        justify-content: space-between;
        width: 100%;
    }

    .profile-orders__table .table__cell::before {
        display: inline-block !important;
        margin-right: 7px;
    }

    .profile-orders__table .table {
        border: none;
    }

    .profile-orders__table .table__cell.from,
    .profile-orders__table .table__cell.to {
        padding-left: 52px !important;
        position: relative;
    }

    .profile-orders__table .table__cell.from::before,
    .profile-orders__table .table__cell.to::before {
        display: none !important;
    }

    .profile-orders__table .table__cell.from::after {
        content: "";
        display: block;
        position: absolute;
        left: 20px;
        top: 50%;
        height: 37px;
        width: 16px;
        background: url(/img/icons/svg/ic_arrow-to.svg), no-repeat;
    }

    .profile-orders__table .table__cell span.star {
        margin: 0;
        margin-right: auto;
    }

    .profile-orders__table .table__cell.buttons::before {
        margin-right: 0;
    }
}

@media screen and (max-width: 550px) {
    .profile-company .additem-btn {

        span.ic {
            background-image: url(../img/icons/svg/ic_plus-15.svg);
            width: 15px;
            height: 100%;
        }

        p {
            display: none;
        }
    }

    .profile-company__drivers--list .item-number,
    .profile-company__movers--list .item-number {
        width: 15px;
    }

    .profile-company__drivers--list span.phone,
    .profile-company__movers--list span.phone {
        display: block;
    }

    .profile-company__drivers--list .item-number p,
    .profile-company__movers--list .item-number p {
        display: none;
    }

    //профиль

    .personal-nav .content a {
        margin-right: 40px;
    }

    .personal-nav .content a:nth-child(2) {
        margin-right: auto;
    }

    .profile-customer__block-head .edit-btn {
        p {
            display: none;
        }
    }

    .profile-customer__block-content>.item,
    .order-detail .info-items .item {
        width: 100% !important;
        margin-right: 0 !important;
    }

}

@media screen and (max-width: 480px) {

    .order-detail .uploadedImages {
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-bottom: 20px;
    }

    .order-detail .uploadedImages-image {
        width: 75px;
        flex-shrink: 0;
        margin-bottom: 0;
    }


    .profile-company__autos--list .item-number {
        max-width: 80px;
    }

    .profile-company__drivers,
    .profile-company__autos,
    .profile-company__movers {
        padding: 23px 20px 20px;
    }

    .profile-company__drivers--list,
    .profile-company__autos--list,
    .profile-company__movers--list {
        padding-right: 5px;
    }

    .personal-nav .content {
        background: none;
        padding-left: 5px;
        padding-right: 5px;
        flex-wrap: wrap;
        height: auto;
    }

    //профиль

    .profile-customer--info,
    .profile-customer--password,
    .profile-customer--docs,
    .profile-contractor--status {
        padding: 23px 20px 20px;
    }

    .profile-orders .content {
        padding: 0;
        background: none;
    }

    .profile-orders__search,
    .profile-orders__status {
        label::after {
            background: #f8f8f8 !important;
        }
    }

    .order-detail--docs {
        padding: 0;
    }

    .order-detail .left {
        padding-left: 20px;
        padding-right: 20px;
    }

    .order-detail .right {
        position: relative;
        padding-top: 100%;
        height: auto;

        #order-map {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

    .profile-contractor--status .title {
        font-size: 16px;
        line-height: 19px;
    }
}

@media screen and (max-width: 440px) {
    .personal-nav .content .send-contract {
        width: 100%;
        order: 1;
        margin-top: 23px !important;
        text-align: center;
        padding-left: 44px;
        padding-right: 44px;

        &__main-text {
            display: block;
        }

        &__smallscreen-text {
            display: none;
        }
    }
}

@media screen and (max-width: 375px) {


    .personal-nav .content .send-contract span.ic {
        background-image: url(../img/icons/svg/ic_contract.svg);
        left: 15px;
    }

    .profile-company {

        &__drivers--list,
        &__autos--list,
        &__movers--list {
            .item-icon {
                margin-right: 12px;
            }

            .item-icon img {
                width: 30px;
                height: 30px;
            }

            .item-edit,
            .item-docs {
                margin-right: 12px;
            }

            .item-number,
            .item-name {
                font-size: 13px;
            }
        }

        &__autos--list {
            .item-name {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    //профиль

    .profile-customer--docs .document-items .item {
        padding-right: 0;
    }

    .profile-customer--password .submit button,
    .profile-customer--docs .submit button {
        width: 100%;
    }

    .profile-customer--docs .attach-files {
        flex-direction: row !important;
        padding: 20px 0;
    }

    .profile-customer--docs .attach-files label {
        margin-left: 10px;
    }

    .profile-customer__block-head .edit-btn {
        padding-left: 16px;
    }

    .profile-contractor--status .title {
        font-size: 14px;
        line-height: 17px;
    }

    .profile-contractor--info .car-photos--items {
        max-width: 166px;
    }
}

@media screen and (max-width: 360px) {

    .orders-table .table__cell.buttons a.done p,
    .orders-table .table__cell.buttons a.abort p,
    .orders-table .table__cell.buttons a.add-photos p,
    .orders-table .table__cell.buttons a.in-road p {
        padding: 10px 0;
    }

    .personal-nav .content a {
        margin-right: 30px;
    }
}

.success {
    color: green;
    font-size: 13px;
    margin-bottom: 5px;
}

#files-form {
    margin-bottom: 18px;
}

.field-driver-photos {
    width: 100%;
}