section.register {
  background-image: url(/img/images/bel.png);
  background-position-x: 56%;
  background-position-y: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -50px;
}
section.register .content {
  display: flex;
  padding-top: 17px;
  align-items: center;
}
section.register .content-left {
  width: 35.5%;
}
section.register .content-right {
  margin-left: auto;
  margin-right: -73px;
  width: 58.3333333333%;
  padding: 44px 0 36px;
  max-width: 700px;
}
section.register .register-items span.ic {
  position: absolute;
  left: 31px;
  top: 50%;
  transform: translateY(-50%);
}
section.register .register-items .item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 28px 31px 31px 87px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 15px;
  position: relative;
}

.typeof-entity,
.typeof-staff {
  display: flex;
  align-items: center;
  padding: 16px 48px 16px 48px;
  margin-bottom: 26px;
  background: #fff;
  max-width: 650px;
  position: relative;
  width: 100%;
  cursor: pointer;
}
.typeof-entity__icon,
.typeof-staff__icon {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
}
.typeof-entity__toggle,
.typeof-staff__toggle {
  margin-left: auto;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.typeof-entity__select,
.typeof-staff__select {
  padding: 0 20px;
  width: 100%;
}
.typeof-entity__select select,
.typeof-staff__select select {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: auto !important;
}
.typeof-entity__select .title,
.typeof-staff__select .title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #A9A9A9;
  margin-bottom: 5px;
}
.typeof-entity__select .value,
.typeof-staff__select .value {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}
.typeof-entity__selected-items,
.typeof-staff__selected-items {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: -15px;
  right: -15px;
  background: #fff;
  padding: 0 15px 15px;
  z-index: 2;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.typeof-entity__selected-items .value,
.typeof-entity__selected-items .tab-toggle,
.typeof-staff__selected-items .value,
.typeof-staff__selected-items .tab-toggle {
  margin-top: 15px;
  display: block;
  text-decoration: none;
}

section.register-individual {
  padding-top: 30px;
  padding-bottom: 90px;
}
section.register-individual .fields .row:not(:last-child) {
  margin-bottom: 55px;
}

section.register-entity {
  padding-top: 30px;
  padding-bottom: 90px;
}
section.register-entity .fields .row:not(:last-child) {
  margin-bottom: 49px;
}

section.register-transporter {
  padding-top: 30px;
  padding-bottom: 65px;
}
section.register-transporter .fields .row:not(:last-child) {
  margin-bottom: 47px;
}
section.register-transporter .attach-images {
  margin-right: auto;
}
section.register-transporter .attach-files,
section.register-transporter .attach-images {
  margin-top: 0 !important;
  width: calc(50% - 12.5px) !important;
}

.register-form .tooltip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 25px);
  display: flex;
  width: 309px;
}
.register-form .tooltip span.ic {
  margin-top: 5px;
  margin-right: 9px;
}
.register-form .tooltip p {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #808080;
}
.register-form fieldset#autos .row {
  margin-bottom: 0 !important;
}
.register-form fieldset#autos .row.trailer {
  display: none;
}
.register-form fieldset#autos .row.trailer.active {
  display: flex;
}
.register-form .row .remove {
  width: 100%;
  margin-bottom: 10px;
}
.register-form .row .remove .delete {
  margin-left: auto;
  display: block;
}
.register-form .row.porters {
  margin-bottom: 0 !important;
}
.register-form .form-tabs,
.register-form .form-tabs__tab {
  width: 100%;
}
.register-form .row.docs {
  display: flex;
}
.register-form .row.docs .attach-files,
.register-form .row.docs .attach-images {
  margin-top: 0 !important;
  width: calc(50% - 12.5px);
}
.register-form fieldset {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  border: none !important;
}
.register-form form {
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
}
.register-form form .add-option.add-trailer {
  margin-bottom: 32px;
}
.register-form form .divider {
  border-top: 1px dashed #D4D4D4;
  display: block;
  width: 100%;
  margin: 25px 0;
}
.register-form form .fields-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 24px;
}
.register-form form div.add-option {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 100%;
  align-items: center;
  user-select: none;
  margin: 17px 0 10px;
}
.register-form form div.add-option span.ic {
  cursor: pointer;
}
.register-form form div.add-option .hidden-text {
  display: none;
}
.register-form form div.add-option p {
  margin-left: 12px;
  cursor: auto;
}
.register-form form .fields {
  width: 100%;
}
.register-form form .fields-item__box {
  display: flex;
  align-items: center;
  border: 1px solid #00982f;
}
.register-form form .fields-item__box span {
  color: #D8D8D8;
}
.register-form form .fields-item__box input {
  width: 30% !important;
  border: 0 !important;
  text-align: center;
}
.register-form form .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.register-form form .fields-item {
  width: calc(50% - 12.5px);
  margin-bottom: 20px;
}
.register-form form .fields-item.fullwidth {
  width: 100% !important;
}
.register-form form .fields-item input {
  height: 50px !important;
}
.register-form form .attach-files,
.register-form form .attach-images {
  flex-direction: row;
}
.register-form form .attach-files span.ic,
.register-form form .attach-images span.ic {
  margin-right: 11px;
}
.register-form form .attach-files label,
.register-form form .attach-images label {
  margin-top: 0;
}
.register-form form .agreement {
  display: flex;
  align-items: center;
  width: calc(50% - 12.5px);
}
.register-form form .agreement-text {
  margin-left: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #808080;
  width: 86.7088607595%;
}
.register-form form .agreement strong {
  color: #000;
  text-decoration: underline;
}
.register-form form .submit {
  margin-left: auto;
  width: calc(50% - 12.5px);
}
.register-form form .submit button {
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 1440px) {
  section.register .content-right {
    margin-right: -30px;
  }
}
@media screen and (max-width: 1280px) {
  section.register .content-right {
    margin-right: 0;
  }
}
@media screen and (max-width: 1060px) {
  .register-form .tooltip {
    position: relative;
    transform: none;
    width: 100%;
    margin-top: 10px;
    padding-left: 25px;
    left: 0;
    top: 0;
  }
  .register-form .tooltip span.ic {
    position: absolute;
    top: 0;
    left: 0;
  }
  .register-form .tooltip br {
    display: none;
  }
}
@media screen and (max-width: 830px) {
  section.register {
    margin-top: 0;
  }

  section.register .content {
    flex-wrap: wrap;
  }

  section.register .content-left {
    width: 100%;
  }

  section.register .content-right {
    width: 100%;
    margin: 0 auto;
  }

  section.register .register-items {
    display: flex;
    margin: 0 -7.5px;
  }
  section.register .register-items span.ic {
    position: relative;
    top: auto;
    transform: none;
    left: auto;
    margin-bottom: 20px;
  }
  section.register .register-items .item {
    width: calc(100% / 3 - 15px);
    margin: 0 7.5px;
    font-size: 15px;
    padding: 28px 31px;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  section.register .register-items .item {
    line-height: 19px;
  }

  .register-form form .agreement {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .register-form form .fields-item,
.register-form form .submit {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .register-form .row.docs .attach-files,
.register-form .row.docs .attach-images {
    width: 100% !important;
  }

  .register-form form .attach-files,
.register-form form .attach-images {
    width: 100% !important;
    margin-bottom: 20px !important;
  }

  section.register {
    background-position-y: 90%;
  }

  section.register .register-items {
    flex-wrap: wrap;
    margin: 0;
  }
  section.register .register-items span.ic {
    position: absolute;
    left: 31px;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 0;
  }
  section.register .register-items .item {
    padding: 28px 31px 31px 58px;
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 375px) {
  .typeof-entity__select,
.typeof-staff__select {
    padding: 0 10px 0 20px;
  }

  .typeof-entity__select .title,
.typeof-staff__select .title {
    font-size: 11px;
  }

  .typeof-entity__select .value,
.typeof-staff__select .value {
    font-size: 14px;
  }

  .register-form .agreement-text br {
    display: none;
  }

  section.register .register-items span.ic {
    width: 23px;
  }
  section.register .register-items .item {
    padding: 28px 31px 31px 70px;
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=register.css.map */
