section.register {
    background-image: url(/img/images/bel.png);
    background-position-x: 56%;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -50px;

    .content {
        display: flex;
        padding-top: 17px;
        align-items: center;

        &-left {
            width: 426px / 1200px * 100%;
        }

        &-right {
            margin-left: auto;
            margin-right: -73px;
            width: 700px / 1200px * 100%;
            padding: 44px 0 36px;
            max-width: 700px;
        }
    }

    .register-items {

        span.ic {
            position: absolute;
            left: 31px;
            top: 50%;
            transform: translateY(-50%);
        }

        .item {
            display: flex;
            align-items: center;
            background: #fff;
            padding: 28px 31px 31px 87px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            color: #000000;
            text-decoration: none;
            margin-bottom: 15px;
            position: relative;
        }

    }



}

.typeof-entity,
.typeof-staff {
    display: flex;
    align-items: center;
    padding: 16px 48px 16px 48px;
    margin-bottom: 26px;
    background: #fff;
    max-width: 650px;
    position: relative;
    width: 100%;
    cursor: pointer;

    &__icon {
        position: absolute;
        left: 23px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__toggle {
        margin-left: auto;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__select {
        padding: 0 20px;
        width: 100%;

        select {
            padding: 0;
            margin: 0;
            border: 0;
            background: none;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            height: auto !important;
        }


        .title {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: #A9A9A9;
            margin-bottom: 5px;
        }

        .value {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            position: relative;
        }

    }

    &__selected-items {
        display: none;
        position: absolute;
        top: calc(100% + 5px);
        left: -15px;
        right: -15px;
        background: #fff;
        padding: 0 15px 15px;
        z-index: 2;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

        .value,
        .tab-toggle {
            margin-top: 15px;
            display: block;
            text-decoration: none;
        }
    }

}

section.register-individual {
    padding-top: 30px;
    padding-bottom: 90px;

    .fields .row:not(:last-child) {
        margin-bottom: 55px;
    }
}

section.register-entity {
    padding-top: 30px;
    padding-bottom: 90px;

    .fields .row:not(:last-child) {
        margin-bottom: 49px;
    }


}

section.register-transporter {
    padding-top: 30px;
    padding-bottom: 65px;

    .fields .row:not(:last-child) {
        margin-bottom: 47px;
    }

    .attach-images {
        margin-right: auto;
    }

    .attach-files,
    .attach-images {
        margin-top: 0 !important;
        width: calc(50% - 12.5px) !important;

    }


}

.register-form {

    .tooltip {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% + 25px);
        display: flex;
        width: 309px;

        span.ic {
            margin-top: 5px;
            margin-right: 9px;
        }

        p {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 150%;
            color: #808080;
        }
    }

    fieldset#autos {

        .row {
            margin-bottom: 0 !important;
        }

        .row.trailer {
            display: none;

            &.active {
                display: flex;
            }

        }


    }

    .row {
        .remove {
            width: 100%;
            margin-bottom: 10px;

            .delete {
                margin-left: auto;
                display: block;
            }

        }

        &.porters {
            margin-bottom: 0 !important;
        }

    }

    .form-tabs,
    .form-tabs__tab {
        width: 100%;
    }

    .row.docs {
        display: flex;

        .attach-files,
        .attach-images {
            margin-top: 0 !important;
            width: calc(50% - 12.5px);

        }

    }

    fieldset {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        border: none !important;
    }

    form {
        max-width: 650px;
        display: flex;
        flex-wrap: wrap;

        .add-option.add-trailer {
            margin-bottom: 32px;
        }

        .divider {
            border-top: 1px dashed #D4D4D4;
            display: block;
            width: 100%;
            margin: 25px 0;
        }

        .fields-title {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin-bottom: 24px;
        }

        div.add-option {
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            width: 100%;
            align-items: center;
            user-select: none;
            margin: 17px 0 10px;

            span.ic {
                cursor: pointer;
            }

            .hidden-text {
                display: none;
            }

            p {
                margin-left: 12px;
                cursor: auto;
            }
        }

        .fields {
            width: 100%;
        }

        .fields-item__box {
            display: flex;
            align-items: center;
            border: 1px solid #00982f;

            span {
                color: #D8D8D8;
            }

            input {
                width: 30% !important;
                border: 0 !important;
                text-align: center;
            }

        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .fields-item {
            width: calc(50% - 12.5px);
            margin-bottom: 20px;

            &.fullwidth {
                width: 100% !important;
            }

            input {
                height: 50px !important;
            }
        }

        .attach-files,
        .attach-images {
            flex-direction: row;

            span.ic {
                margin-right: 11px;
            }

            label {
                margin-top: 0;
            }


        }

        .agreement {
            display: flex;
            align-items: center;
            width: calc(50% - 12.5px);

            &-text {
                margin-left: 12px;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: #808080;
                width: 274px / 316px * 100%;
            }

            strong {
                color: #000;
                text-decoration: underline;
            }
        }

        .submit {
            margin-left: auto;
            width: calc(50% - 12.5px);

            button {
                width: 100%;
                height: 50px;
            }
        }

    }

}



@media screen and (max-width: 1440px) {

    section.register .content-right {
        margin-right: -30px;
    }

}

@media screen and (max-width: 1280px) {

    section.register .content-right {
        margin-right: 0;
    }

}

@media screen and (max-width: 1060px) {

    .register-form .tooltip {
        position: relative;
        transform: none;
        width: 100%;
        margin-top: 10px;
        padding-left: 25px;
        left: 0;
        top: 0;

        span.ic {
            position: absolute;
            top: 0;
            left: 0;
        }

        br {
            display: none;
        }

    }

}



@media screen and (max-width: 830px) {

    section.register {
        margin-top: 0;
    }

    section.register .content {
        flex-wrap: wrap;
    }

    section.register .content-left {
        width: 100%;
    }

    section.register .content-right {
        width: 100%;
        margin: 0 auto;
    }

    section.register .register-items {
        display: flex;
        margin: 0 -7.5px;

        span.ic {
            position: relative;
            top: auto;
            transform: none;
            left: auto;
            margin-bottom: 20px;
        }

        .item {
            width: calc(100% / 3 - 15px);
            margin: 0 7.5px;
            font-size: 15px;
            padding: 28px 31px;
            flex-direction: column;
            text-align: center;
        }
    }

}

@media screen and (max-width: 768px) {

    section.register .register-items {

        .item {
            line-height: 19px;
        }
    }

    .register-form form .agreement {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 600px) {

    .register-form form .fields-item,
    .register-form form .submit {
        width: 100%;
    }

}

@media screen and (max-width: 550px) {

    .register-form .row.docs .attach-files,
    .register-form .row.docs .attach-images {
        width: 100% !important;
    }

    .register-form form .attach-files,
    .register-form form .attach-images {
        width: 100% !important;
        margin-bottom: 20px !important;
    }

    section.register {
        background-position-y: 90%;
    }

    section.register .register-items {
        flex-wrap: wrap;
        margin: 0;

        span.ic {
            position: absolute;
            left: 31px;
            top: 50%;
            transform: translateY(-50%);
            margin-bottom: 0;
        }

        .item {
            padding: 28px 31px 31px 58px;
            width: 100%;
            text-align: left;
            margin: 0;
            margin-bottom: 15px;
            flex-direction: row;
            justify-content: center;
        }

    }

}


@media screen and (max-width: 375px) {

    .typeof-entity__select,
    .typeof-staff__select {
        padding: 0 10px 0 20px;
    }

    .typeof-entity__select .title,
    .typeof-staff__select .title {
        font-size: 11px;
    }

    .typeof-entity__select .value,
    .typeof-staff__select .value {
        font-size: 14px;
    }

    .register-form .agreement-text {
        br {
            display: none;
        }
    }

    section.register .register-items {

        span.ic {
            width: 23px;
        }

        .item {
            padding: 28px 31px 31px 70px;
            width: 100%;
            text-align: left;
            margin: 0;
            margin-bottom: 15px;
            flex-direction: row;
            justify-content: flex-start;
        }

    }

}