section.register {
    background-image: url(/img/images/bel.png);
    background-position-x: 56%;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -50px;

    .content {
        display: flex;
        padding-top: 17px;
        align-items: center;

        &-left {
            width: 426px / 1200px * 100%;
        }

        &-right {
            margin-left: auto;
            margin-right: -73px;
            width: 700px / 1200px * 100%;
            padding: 44px 0 36px;
            max-width: 700px;
        }
    }

    .register-items {

        span.ic {
            position: absolute;
            left: 31px;
            top: 50%;
            transform: translateY(-50%);
        }

        .item {
            display: flex;
            align-items: center;
            background: #fff;
            padding: 28px 31px 31px 87px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            color: #000000;
            text-decoration: none;
            margin-bottom: 15px;
            position: relative;
        }

    }



}

section.register-individual {
    padding-top: 30px;
    padding-bottom: 90px;

    .fields .row:not(:last-child) {
        margin-bottom: 55px;
    }
}

section.register-entity {
    padding-top: 30px;
    padding-bottom: 90px;

}

section.register-transporter {
    padding-top: 30px;
    padding-bottom: 65px;

    .fields .row:not(:last-child) {
        margin-bottom: 47px;
    }

    .attach-images {
        margin-right: auto;
    }

    .attach-files,
    .attach-images {
        margin-top: 0 !important;
        width: calc(50% - 12.5px) !important;

    }


}

.register-form {

    form {
        max-width: 650px;
        display: flex;
        flex-wrap: wrap;

        div.add-option {
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            width: 100%;
            margin-bottom: 30px;
            cursor: pointer;
            align-items: center;
            user-select: none;

            .hidden-text {
                display: none;
            }

            p {
                margin-left: 12px;
            }
        }

        .fields {
            width: 100%;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .fields-item {
            width: calc(50% - 12.5px);
            margin-bottom: 20px;

            input {
                height: 50px;
            }
        }

        .attach-files,
        .attach-images {
            flex-direction: row;

            span.ic {
                margin-right: 11px;
            }

            label {
                margin-top: 0;
            }


        }

        .agreement {
            display: flex;
            align-items: center;
            width: calc(50% - 12.5px);

            &-text {
                margin-left: 12px;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: #808080;
                width: 274px / 316px * 100%;
            }

            strong {
                color: #000;
                text-decoration: underline;
            }
        }

        .submit {
            margin-left: auto;
            width: calc(50% - 12.5px);

            button {
                width: 100%;
                height: 50px;
            }
        }

    }

}



@media screen and (max-width: 1440px) {

    section.register .content-right {
        margin-right: -30px;
    }

}

@media screen and (max-width: 1280px) {

    section.register .content-right {
        margin-right: 0;
    }

}



@media screen and (max-width: 830px) {

    section.register {
        margin-top: 0;
    }

    section.register .content {
        flex-wrap: wrap;
    }

    section.register .content-left {
        width: 100%;
    }

    section.register .content-right {
        width: 100%;
        margin: 0 auto;
    }

    section.register .register-items {
        display: flex;
        margin: 0 -7.5px;

        span.ic {
            position: relative;
            top: auto;
            transform: none;
            left: auto;
            margin-bottom: 20px;
        }

        .item {
            width: calc(100% / 3 - 15px);
            margin: 0 7.5px;
            font-size: 15px;
            padding: 28px 31px;
            flex-direction: column;
            text-align: center;
        }
    }

}

@media screen and (max-width: 768px) {

    section.register .register-items {

        .item {
            line-height: 19px;
        }
    }

    .register-form form .agreement {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 600px) {

    .register-form form .fields-item,
    .register-form form .submit {
        width: 100%;
    }

}

@media screen and (max-width: 550px) {

    .register-form form .attach-files,
    .register-form form .attach-images {
        width: 100% !important;
        margin-bottom: 20px !important;
    }

    section.register {
        background-position-y: 90%;
    }

    section.register .register-items {
        flex-wrap: wrap;
        margin: 0;

        span.ic {
            position: absolute;
            left: 31px;
            top: 50%;
            transform: translateY(-50%);
            margin-bottom: 0;
        }

        .item {
            padding: 28px 31px 31px 58px;
            width: 100%;
            text-align: left;
            margin: 0;
            margin-bottom: 15px;
            flex-direction: row;
            justify-content: center;
        }

    }

}


@media screen and (max-width: 375px) {

    .register-form .agreement-text {
        br {
            display: none;
        }
    }

    section.register .register-items {

        span.ic {
            width: 23px;
        }

        .item {
            padding: 28px 31px 31px 70px;
            width: 100%;
            text-align: left;
            margin: 0;
            margin-bottom: 15px;
            flex-direction: row;
            justify-content: flex-start;
        }

    }

}