.tariffs-content {

    table {
        width: 100%;
        background: #FFFFFF;
        border-spacing: 0px;
        margin-bottom: 60px;

        th.first-column {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            text-align: left;
            padding: 20px 20px 20px 30px;
            display: flex;
            align-items: center;
            border-right: 1px solid rgba(212, 212, 212, 0.5);
            border-bottom: 1px solid rgba(212, 212, 212, 0.5);


            p {
                margin-left: 20px;
                display: inline-block;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }

            small {
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                color: #808080;
            }

        }



        tr:last-child th.first-column {
            border-bottom: 0;
        }

        td {
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            color: #000000;
            border-right: 1px solid rgba(212, 212, 212, 0.5);
            border-bottom: 1px solid rgba(212, 212, 212, 0.5);
        }

        tr td:last-child {
            border-right: 0;
        }

        tr:last-child td {
            border-bottom: 0;
        }

    }

    tr.head {
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #808080;
        text-align: center;


        & th {
            padding: 0 20px;
            padding-top: 10px;
            padding-bottom: 7px;
            vertical-align: middle;
            border-right: 1px solid rgba(212, 212, 212, 0.5);
            border-bottom: 1px solid rgba(212, 212, 212, 0.5);
        }

        .ic.info {
            position: relative;
            margin-bottom: -2px;
            margin-left: 2px;
        }

        & th:last-child {
            border-right: 0;
        }

    }

    table .head th:first-child {
        text-align: left;
    }


    p.description {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #808080;
        max-width: 1000px;
        padding-bottom: 36px;
        min-height: 200px;

        strong {
            color: #000;
            font-size: 16px;
        }

    }

    table td .ic {
        margin-bottom: -3px;
    }

    .m-table {
        display: none;
        flex-wrap: wrap;
        margin: 0 -14px;
        margin-bottom: 40px;
    }

    .m-table .column {
        display: block;
        background: #fff;
        padding: 22px 30px 10px 30px;
        width: calc(50% - 28px);
        margin: 0 14px;
    }


    .m-table .column-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .m-table .transport {

        span.ic {
            margin-right: 27px;
        }

        p {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }

        small {
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            color: #808080;
        }

    }

    .m-table .column-item {
        .title {
            margin-right: auto;
            padding-right: 20px;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            color: #808080;
            width: 60%;

            span {
                margin-left: 5px;
            }
        }

        .value {
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            color: #000000;
        }
    }

    .m-table table {
        margin: 0 -30px;
        margin-bottom: -10px;
        width: calc(100% + 60px);
    }

    .m-table th {
        border: 1px solid #eeeeee;
        border-left: none;
        border-right: none;
        padding: 7px 0;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #808080 !important;
    }

    .m-table tr td {
        padding: 5px 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
    }

    .m-table tr.options>td {

        color: #808080 !important;
    }

}

@media screen and (max-width: 1280px) {

    .tariffs-content table th.first-column {
        padding-left: 20px;
    }

    .tariffs-content .first-column span.ic {
        width: 25px;
    }

    .tariffs-content table th.first-column p {
        font-size: 14px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1100px) {

    .tariffs-content tr.head th {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tariffs-content .first-column span.ic {
        width: 30px;
    }

    .tariffs-content table th.first-column {
        flex-direction: column;
        align-items: flex-start;
    }

    .tariffs-content table th.first-column p {
        margin-left: 0;
    }

}

@media screen and (max-width: 1000px) {
    /* .tariffs-content tr.head {
        display: none;
    }

    .tariffs-content tr,
    .tariffs-content tbody {
        display: flex;
        flex-shrink: 0;
        flex-grow: 1;
    }

    .tariffs-content tr * {
        border: 0 !important;
    }

    .tariffs-content tr {
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(212, 212, 212, 0.5);
    }

    .tariffs-content tbody {
        flex-direction: column;
    }

    .tariffs-content table th,
    .tariffs-content table td {
        display: flex;
        align-items: center;
    }

    .tariffs-content table td {
        flex-direction: column;
        justify-content: center;
    }

    .tariffs-content table td::before {
        content: attr(data-title);
        display: block;
    } */
}

@media screen and (max-width: 768px) {

    .tariffs-content .tariffs-table {
        display: none;
    }

    .tariffs-content .m-table {
        display: flex;
        margin: 0px;
        margin-bottom: 30px;
    }

    .tariffs-content .m-table .column {
        width: 100%;
        margin: 0;
        margin-bottom: 14px;
    }

}

@media screen and (max-width: 480px) {

    .tariffs-content .m-table .column-item .title {
        width: auto;
    }

    .tariffs-content p.description {
        font-size: 13px;
    }

    .tariffs-content p.description strong {
        font-size: 15px;
    }

}

@media screen and (max-width: 360px) {

    .tariffs-content .m-table .column-item .title {
        width: 75%;
        padding-right: 0;
    }

    .tariffs-content .m-table .transport p {
        font-size: 15px;
    }

    .tariffs-content .m-table .transport span.ic {
        width: 35px;
        margin-right: 20px;
    }

}